:root {
    --Blue-bright: #1E45C5;
    --Dark-bg : #171719;
    --Darker-bg : #171719;
    --light-text : #f5f5f5;
    --Blue-base : #182051;
    --Details-color : #BE4A1A;
    --transition : all 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scrollbar-color: var(--Blue-bright) var(--Dark-bg);
}

body {    
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100;
    background-color: var(--Dark-bg);   
    color: var(--light-text);   
    line-height: 1.6;
    display: flex;
}
h1 {
    font-size: 3.5rem;
    font-family: "PT Mono", monospace;
    font-style: normal;
    font-weight: 400;

}
h2 {
    font-family: "PT Mono", monospace;
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-family: "PT Mono", monospace;
    font-size: 1.7 rem;
    color: #1E45C5;
}
p {
    font-size: 0.8rem;
    color: var(--light-text);
    margin-bottom: 1.5rem;
    font-family: "PT Mono", monospace;

}
section {
    padding: 2rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}
.section-title {
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    font-family: "Space Grotesk", sans-serif;
    border-bottom: 2px solid var(--Blue-bright); 
}

.hero{
    background-image:-webkit-image-set("./assets/img/header image.png");
    background-repeat: no-repeat; 
    background-size:contain;
    background-position: top right;
    
}
.hero-content {
  display: flex;
  align-items:left;
  gap: 5rem;
  border-left: 3px solid var(--Blue-bright);
  align-content: flex-start;
  margin-bottom: 30%;
}
.hero-content h2{
    color: #BE4A1A;
    font-size: 1.2rem;
    margin-bottom: 2%;
}
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    font-weight: 700;
    font-family: monospace;
    font-size: 1.3rem;
    background-color: #f5f5f5;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}
.hero {
    display: flex;
    padding-top: 5rem;
    height: 900px;
    
}
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    border-left: 3px solid var(--Blue-bright);
    padding-left: 50px;
}
.hero-text{
    max-width: 500px;
    margin-top: 10%;
}
.card{
    margin: 0 auto;
    max-width: 500px;
    display:column;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    border: 3px solid var(--Blue-bright);
    border-radius: 5px;
}
.card-image{
    width: 100%;
    display: block;
}
.card-info{
    line-height: 1,5;
    padding: 30px;
}
.card-info h2{
    font-size: 0.8rem;
    margin-bottom: 5%;

}
.card-interactions{
    margin-top: 9px;
    border-top: #1E45C5 2px solid;
    margin-top: 10px;
    align-items: center;
}
.card-interactions .btn {
    margin-left: 50%;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #182051;
    color: #f5f5f5;
}
.card-interactions img {
 cursor: pointer;
}
.card-interactions .btn {
    margin-left: 50%;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #182051;
    color: #f5f5f5;
}
.archivegallery-container {
    width: 90%;
    max-width:1114px;
    margin:30px auto;
    display:contents;
    gap: 20px;
}
.archivegallery-container img {
    width: 300px;
    height: 250px;
    border-radius: 4px;
    transition: var(--transition);
    object-fit: cover;
}
.archivegallery-container img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(72, 54, 231, 0.5);
}
.communitygallery-container {
    width: 90%;
    max-width:1114px;
    margin:30px auto;
    display:contents;
    gap: 20px;
}

.communitygallery-container img {
    width: 300px;
    height: 250px;
    border-radius: 4px;
    transition: var(--transition);
    object-fit: cover;
}
.communitygallery-container img:hover {
    transfrm: scale(1.03);
    box-shadow: 0 0 20px rgba(34, 28, 145, 0.5);

}
.gallery .btn{
    margin-left: 80%;
    border: 2px solid;
    border-color: #1E45C5;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
    font-size: 1rem;
    background-color:#171719;
    color: #1E45C5;
}
.form-container{
    border: #1E45C5 2px solid;
    border-radius: 8px;
    width: 400px;
    margin-left: 60%; 
}
.form {
    height: 700px;
    display: flex;
    justify-content:center;
    border: #1E45C5 2px solid;
    text-align: center;
}
.input-field{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5%;
}
.sidebar {
  width: 280px;
  height:max-content;
  background-color: #111111;
}
button {
  padding: 5px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  border-color: #1E45C5;
  margin-top: 10%;
}
.sidebar-header {
  height: 50px;
  position: fixed;
  margin:20px;
}
.sidebar-header img{
   margin-left: 35%;
}
.sidebar-inner {
  width: 300px;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-right: 2px #1E45C5 solid;
  padding-right: 10%;
}
.sidebar-nav {
  display: grid;
  position: fixed;
   margin-top: 7%;
   margin-left: 2%;
}
.sidebar-footer{
  margin-top: auto;
  padding: 30px;
}
span{
    font-size: 0.8rem;
    color: var(--light-text);
    margin-bottom: 1.5rem;
    font-family: "PT Mono", monospace;
    
}

