:root {
    --Blue-bright: #1E45C5;
    --Dark-bg : #171719;
    --Darker-bg : #171719;
    --light-text : #f5f5f5;
    --Blue-base : #182051;
    --Details-color : #BE4A1A;
    --transition : all 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scrollbar-color: var(--Blue-bright) var(--Dark-bg);
}

body {    
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100;
    background-color: rgb(10, 10, 10); 
    color: var(--light-text);   
    line-height: 1.6;
    display: flex;
}
h1 {
    font-size: 3.5rem;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-style: normal;
    font-weight: 400;

}
h2 {
    font-family: "PT Mono", monospace;
    font-size: 1.3rem;
    font-weight: 600;
}
h3 {
    font-family: "PT Mono", monospace;
    font-size: 1rem;
    color: var(--Blue-bright);
}
p {
    font-size: 0.7rem;
    color: var(--light-text);
    font-family: "PT Mono", monospace;
    font-weight: 100;

}
section {
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}
.section-title {
    margin-bottom: 3rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--Blue-bright); 
}
.btn-hover-unico{
    padding: 10px;
    position: absolute;
    border: #BE4A1A solid;
    margin-top: 2%;
    border-radius: 8px;
    transition: var(--transition);
    color: #f5f5f5;

}
.btn-hover-unico:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(180, 43, 9, 0.3);
}
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}
.hero{
    background-image:-webkit-image-set("./assets/img/Nasa Archice- header img.jpg");
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: top right;
    border-bottom: 3px solid #793113;
    height: 700px;
    display: flex;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-left: 3px solid var(--Details-color);
    padding-left: 50px;
}
.hero-content h2{
    color: #BE4A1A;
    font-size: 1.2rem;
    margin-bottom: 2%;
}
.hero-text{
    max-width: 500px;
    margin-top: 10%;
}
.cards{
    display: flex;
    column-gap: 10px;
}
.card-container{
    border: 3px solid var(--Blue-bright);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
 
}
.card-image{
    width: 100%;
    object-fit: cover;
    height: 180px;

}
.card-info{
    line-height: 1,5;
    padding: 30px;
}
.card-info h2{
    font-size: 0.8rem;
    margin-bottom: 5%;

}
.card-interactions{
    margin-top: 9px;
    border-top: #1E45C5 2px solid;
    margin-top: 10px;
    align-items: center;
    display: flex;
}
.card-interactions .btn {
    transition: var(--transition);
    font-size: 0.8rem;
    background-color: #182051;
    color: #f5f5f5;
    margin-top: 5%;
    margin-left: 15%;
}
.card-interactions img {
 cursor: pointer;
 
}
.card-reactions{
   margin-left: 20px;
   margin-top: 20px;
}

.archivegallery-container {
    width: 90%;
    max-width:1114px;
    margin:30px auto;
    display:contents;
    gap: 20px;
}
.archivegallery-container img {
    width: 300px;
    height: 250px;
    border-radius: 4px;
    transition: var(--transition);
    object-fit: cover;
}
.archivegallery-container img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(72, 54, 231, 0.5);
}
.communitygallery-container {
    width: 90%;
    max-width:1114px;
    margin:30px auto;
    display:contents;
    gap: 20px;
}

.communitygallery-container img {
    width: 300px;
    height: 250px;
    border-radius: 4px;
    transition: var(--transition);
    object-fit: cover;
}
.communitygallery-container img:hover {
    transfrm: scale(1.03);
    box-shadow: 0 0 20px rgba(34, 28, 145, 0.5);

}
.gallery .btn{
    margin-left: 80%;
    border: 2px solid;
    border-color: #1E45C5;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
    font-size: 1rem;
    background-color:#171719;
    color: #1E45C5;
}
.contactanos{
    background-image:-webkit-image-set("https://images-assets.nasa.gov/image/art002e009212/art002e009212~large.jpg?w=1920&h=1280&fit=clip&crop=faces%2Cfocalpoint");
    display: flex;
}
.form-container{
    border: #1E45C5 2px solid;
    border-radius: 8px;
    width: 500px;
    margin-left: 60%; 
    background-color: #171719;
    padding: 20px;
    margin-left: 8%;
}
.contact-text{
    max-width: 450px;
}
.form {
    height: 700px;
    justify-content:center;
    border: #1E45C5 2px solid;
    text-align: center;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-size: 14px;
}
input{
   background-color: var(--light-text);
   border-radius: 5px;
}
.sidebar {
  width: 280px;
  height:max-content;
  background-color: #111111;
}
button {
  padding: 10px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  border-color: #1E45C5;
  margin-top: 8%;
  cursor: pointer;
  transition: var(--transition);
  color: #f5f5f5;
  width: 200px;
}
button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}
.sidebar-header {
  height: 50px;
  position: fixed;
  margin:20px;
}
.sidebar-header img{
   margin-left: 50%;
}
.sidebar-inner {
  width: 300px;
  height: inherit;
  padding-bottom: 10px;
  border-right: 2px #1E45C5 solid;
  padding-right: 10%;
  background-color: #111111;
}
.sidebar-nav {
  display: grid;
  position: fixed;
   margin-top: 7%;
   margin-left: 2%;
}
.sidebar-footer{
  margin-top: auto;
  padding: 30px;
}
.sidebar-footer img{
    width: 80px;
}
.sidebar-log-in{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
span{
    font-size: 0.8rem;
    color: var(--light-text);
    font-family: "PT Mono", monospace;
    margin-left: 5px;
    
}
.blog-container{
    margin: 0 auto;
    display:column;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.blog-card{
    margin-bottom: 5%;
    padding: 10px;
    border: 2px solid var(--Blue-bright);
    border-radius: 10px;
    margin-top: 10px;
}
.profile-blog{
    padding-left: 10px;
    position: absolute;
    max-width: 60px;
}
.profile-blog img{
    padding-left: 10px;
    position: absolute;
    max-width: 60px;
}
.blog-comment{
    padding-left: 8%;
}
.blog-comment p{
 display: flex;
}
.blog-comment span{
 color: #1E45C5;
 display: flex;
 margin: 5px;
}
.blog-reactions-container{
    display: flex;
    margin-left: 60%;
}

.blog-reactions{
   margin-left: 20px;
   
}
.blog-tags{
    margin-left: 15%;
    margin-left: 7%;
    padding: 10px;
    opacity: 70%;
}
.blog-tags span {
    background-color: #182051;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 12px;
    font-family: monospace;
    cursor: pointer;
    margin-top: 21px;
  
}